*
{
   margin: 0; 
   font-family: sans-serif;
}
.glavni{
    display: flex;
    padding: 30px 40px;  
    margin-top: -750px; 
    gap: 20px;
    color: white;
}
.glavni button{
 width: 160px;
 height: 40px;
 background-color: #23A6F0;
 border: 1px solid #23A6F0;
 border-radius: 6px;
 color: white;
 margin-left: 330px;
 margin-top: -10px;
}
.headerimg h1{
    display: flex;
    margin-top: 170px;
    margin-left: 140px;
    font-size: 70px;
    color: white;
}
.but1{
    margin-left: 140px;
    margin-top: 50px;
}
.divimg{
    width: 320px;
    height: 510px;
    background-color: white;
    margin-top: -400px;
    position: absolute;
    margin-left: 800px;
    border-radius: 10px;
}
.divinput{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   padding: 30px 45px; 
}
.divinput input{
    width: 210px;
    height: 30px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
    border-radius: 3px;
}
.divinput button{
    width: 213px;
    height: 35px;
    background-color: #23A6F0;
    color: white;
    border: 1px solid #23A6F0;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 12px;
}
.m4 {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 30px;
    background-color: #8EC2F2;
    border-radius: 10px;
    color: white;
    width: 200px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}
.lead{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 80px;
}
.m5 {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}
.m6 {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
}
.m6 p{
    color: #737373;
}